.wrapper {
  padding-top: 50px;
  background: #eceff1;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  opacity: 0.7;
}
