body {
  background-image: url("./assets/bg.jpg");
}
.loginForm {
  position: absolute;
  right: 50px;
  display: inline-flex;
}
.field {
  /* width: 100%; */
  /* height: 40px; */
  border-radius: 4px;
  /* position: relative; */
  /* background-color: rgba(255, 255, 255, 0.3); */
  /* transition: 0.3s all; */
}
.wrapper {
  padding-top: 50px;
  background: #eceff1;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  opacity: 0.8;
}
h1 {
  width: 100%;
  text-align: center;
  text-decoration: none;
}
.game {
  color: #0e7a0d;
  font-size: 150px;
  font-family: "Cute Font", cursive;
}
.changer {
  color: #000;
  font-size: 110px;
  letter-spacing: -3px;
  font-family: "Sedgwick Ave", cursive;
}
.xbox {
  font-family: "Montserrat", sans-serif;
}
.searchField {
  border-radius: 4px;
  width: 100%;
  height: 40px;
}
.gameTitle {
  font-weight: bold;
}
